<?xml version="1.0" encoding="UTF-8"?>
<config>
<!--
For more info, check the manual.
-->
    <license>
        <client>
          <!--
            <GUID type="value"></GUID>
            <userhome encryption="aes" type="value"></userhome>
            -->
            <keyserver>
              <uri type="value"><%= @key_server_url %></uri>
            </keyserver>
        </client>
    </license>
    <server>
      <resources>
        <stores>
          <store_0>
            <name type="value">default-store</name>
            <type type="value">havail</type>
            <settings>
              <location type="value"><%= @havail_dir %>/default-store</location>
              <location-temp type="value"><%= @havail_dir %>/tmp</location-temp>
            </settings>
          </store_0>
        </stores>
      </resources>
      <livedocs>
        <editable-block>
          <resolve-level type="value">datafield</resolve-level>
        </editable-block>
        <default-expanded type="value">false</default-expanded>
        <standalone type="value">true</standalone>
        <show-buttons type="value">true</show-buttons>
        <preview-mode type="value">split-right</preview-mode>
        <save-enable type="value">true</save-enable>
        <message-domain type="value">http://10.0.0.123</message-domain>
        <external>
          <host type="value">myProcessServer</host>
          <port type="value">13542</port>
        </external>
        <exist>
          <host type="value">localhost</host>
          <port type="value">8080</port>
          <username type="value">admin</username>
          <password type="value"></password>
          <collection type="value">/db/apps/livedocs</collection>
          <system type="value">/db/system/config</system>
        </exist>
        <section>
          <display>vertical</display>
        </section>
      </livedocs>
        <security>
            <key>
              <public type="value"><%= @security_server_key %></public>
            </key>
            <security-server-location type="value"><%= @security_server_url %></security-server-location>
        </security>
    </server>
    <generic>
        <environment type="value">production</environment>
        <hostname type="value"><%= @hostname %></hostname>
        <tag>
            <frontend type="value">ScripturaStartFrontendServer</frontend>
        </tag>a
        <setup>
            <frontend type="value">true</frontend>
        </setup>
        <database>
            <driver type="value">oracle.jdbc.OracleDriver</driver>
            <dialect type="value">org.hibernate.dialect.Oracle10gDialect</dialect>
            <connection-url type="value">jdbc:oracle:thin:@//server:1521/service</connection-url>
            <username type="value"></username>
            <password encryption="aes" type="value"></password>
        </database>
    </generic>
    <templateprocessor>
        <mail>
            <com.id.scriptura.templateprocessor.email.impl.javamail>
                <host type="value"><%= @mail_host %></host>
                <port type="value">25</port>
            </com.id.scriptura.templateprocessor.email.impl.javamail>
        </mail>
        <fonts>
            <directories>
              <directory0 type="value"><%= @fonts_dir %></directory0>
            </directories>
        </fonts>
    </templateprocessor>
    <cloud>
        <connection>
            <service>
                <predefined type="value">false</predefined>
                <endpoint type="value"><%= @key_server_url %></endpoint>
            </service>
            <server>
              <username type="value"><%= @key_server_username %></username>
              <password encryption="aes" type="value"><%= @key_server_password %></password>
            </server>
        </connection>
        <baseurl>
          <frontend type="value"><%= @base_url %></frontend>
        </baseurl>
    </cloud>
</config>
